<h1> Dice Roll </h1>

<form action="/process_roll">
  <label for="dicey"> Number of dice to roll? </label>
  <input id="dicey" type = "text" name = "dice">

  <label for="sidey"> How many sides per die? </label>
  <input id="sidey" type = "text" name = "sides">

  <button>Roll!</button>
</form>
